@import "./spacing.css";
@import "./tokens.css";

.hide,
.hide-on-desk {
  display: none;
  visibility: hidden;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flow-column-wrap {
  flex-direction: column;
  flex-wrap: wrap;
}

.flow-column-nowrap {
  flex-direction: column;
  flex-wrap: nowrap;
}

.flow-row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.flow-row-nowrap {
  flex-direction: row;
  flex-wrap: nowrap;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-stretch {
  align-items: stretch;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.gap-01 {
  gap: var(--space-01);
}

.gap-02 {
  gap: var(--space-02);
}

.gap-03 {
  gap: var(--space-03);
}

.gap-04 {
  gap: var(--space-04);
}

.gap-05 {
  gap: var(--space-05);
}

.gap-06 {
  gap: var(--space-06);
}

.is-gapless {
  gap: 0;
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
  border: none;
  white-space: nowrap;
}

@media screen and (max-width: 64rem) {
  .hide-on-desk {
    display: block;
    visibility: visible;
  }

  .hide-on-mb {
    display: none;
    visibility: hidden;
  }
}
