:root {
  --blue: #0ea5e9;
  --green: #22c55e;
  --orange: #f97316;
  --purple: #8b5cf6;
  --red: #ef4444;
  --yellow: #eab308;

  --neutral-01: #f8fafc;
  --neutral-02: #f1f5f9;
  --neutral-03: #e2e8f0;
  --neutral-04: #cbd5e1;
  --neutral-05: #94a3b8;
  --neutral-06: #64748b;
  --neutral-07: #475569;
  --neutral-08: #334155;
  --neutral-09: #0f172a;
  --neutral-10: #020617;
}

@media (color-gamut: p3) {
  @supports (color: color(display-p3 0 0 0)) {
    :root {
      --blue: color(display-p3 0.054902 0.647059 0.913725);
      --green: color(display-p3 0.133333 0.772549 0.368627);
      --orange: color(display-p3 0.976471 0.45098 0.086275);
      --purple: color(display-p3 0.545098 0.360784 0.964706);
      --red: color(display-p3 0.937255 0.266667 0.266667);
      --yellow: color(display-p3 0.917647 0.701961 0.031373);

      --neutral-01: color(display-p3 0.972549 0.980392 0.988235);
      --neutral-02: color(display-p3 0.945098 0.960784 0.976471);
      --neutral-03: color(display-p3 0.886275 0.909804 0.941176);
      --neutral-04: color(display-p3 0.796078 0.835294 0.882353);
      --neutral-05: color(display-p3 0.580392 0.639216 0.721569);
      --neutral-06: color(display-p3 0.392157 0.454902 0.545098);
      --neutral-07: color(display-p3 0.278431 0.333333 0.411765);
      --neutral-08: color(display-p3 0.2 0.254902 0.333333);
      --neutral-09: color(display-p3 0.058824 0.090196 0.164706);
      --neutral-10: color(display-p3 0.007843 0.023529 0.090196);
    }
  }
}
