@use "sass:math";
@use "./variables" as vars;

.container {
  $i: 45;

  @while $i <=95 {
    $i: $i + 5;

    &-#{$i} {
      width: math.percentage(math.div($i, 100));
      min-width: #{math.div($i, 100) * 20}rem;
      max-width: #{math.div($i, 100) * 48}rem;
      margin: 0 auto;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--gap);

  &.is-gapless {
    gap: 0;
  }
}

.col {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  @for $i from 1 through 12 {
    &.is-#{$i} {
      flex: none;
      width: math.percentage(math.div($i, 12));
    }
  }
}

@media screen and (max-width: #{vars.$breakpoint}) {
  .container {
    $i: 45;

    @while $i <=95 {
      $i: $i + 5;

      &-#{$i} {
        max-width: #{math.div($i, 100) * 48}rem;
      }
    }
  }

  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }
}
