@use "sass:list";

@mixin reset-styles {
  box-sizing: border-box;
  position: relative;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

@mixin reset-text-elements {
  margin: 0;
  padding: 0;
}

@mixin reset-headings {
  @for $i from 1 through 6 {
    h#{$i} {
      @include reset-text-elements;
      font-weight: 700;
      font-size: var(--text-0#{7 - $i});
    }
  }
}

* {
  @include reset-styles;
}

html,
body {
  @include reset-text-elements;
  line-height: 1.8;
}

html {
  text-size-adjust: none;
  font-size: var(--base-size);
  font-variation-settings: normal;
}

body {
  min-height: 100dvh;
  font-size: var(--text-01);
}

#root,
#__next {
  isolation: isolate;
}

@include reset-headings;

p,
b,
strong,
sub,
sup {
  @include reset-text-elements;
}

b,
strong {
  font-weight: 700;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

figure,
article,
img {
  @include reset-text-elements;
  border-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  width: 100%;
  height: 0.125em;
  @include reset-text-elements;
  position: relative;
  display: block;
  border: none;
}
