:root {
  --space-01: clamp(0.5625rem, 0.4073rem + 0.7759vw, 1.125rem);
  --space-02: clamp(0.75rem, 0.5431rem + 1.0345vw, 1.5rem);
  --space-03: clamp(1.125rem, 0.8147rem + 1.5517vw, 2.25rem);
  --space-04: clamp(1.5rem, 1.0862rem + 2.069vw, 3rem);
  --space-05: clamp(2.25rem, 1.6293rem + 3.1034vw, 4.5rem);
  --space-06: clamp(3rem, 2.1724rem + 4.1379vw, 6rem);
}
