:root {
  --lx-space-01: clamp(0.75rem, 0.7083rem + 0.2083vw, 0.875rem);
  --lx-space-02: clamp(1.125rem, 1.0625rem + 0.3125vw, 1.3125rem);
  --lx-space-03: clamp(1.5rem, 1.4167rem + 0.4167vw, 1.75rem);
  --lx-space-04: clamp(2.25rem, 2.125rem + 0.625vw, 2.625rem);
  --lx-space-05: clamp(3rem, 2.8333rem + 0.8333vw, 3.5rem);
  --lx-space-06: clamp(4.5rem, 4.25rem + 1.25vw, 5.25rem);
}
