@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --text-01: clamp(0.75rem, 0.21vw + 0.71rem, 0.88rem);
    --text-02: clamp(0.9rem, 0.32vw + 0.84rem, 1.09rem);
    --text-03: clamp(1.08rem, 0.48vw + 0.98rem, 1.37rem);
    --text-04: clamp(1.3rem, 0.69vw + 1.16rem, 1.71rem);
    --text-05: clamp(1.56rem, 0.97vw + 1.36rem, 2.14rem);
    --text-06: clamp(1.87rem, 1.34vw + 1.6rem, 2.67rem);
  }
}

@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --text-01: 0.75rem;
    --text-02: 0.9rem;
    --text-03: 1.08rem;
    --text-04: 1.3rem;
    --text-05: 1.56rem;
    --text-06: 1.87rem;
  }

  @media screen and (min-width: #{$breakpoint}) {
    :root {
      --text-01: 0.88rem;
      --text-02: 1.09rem;
      --text-03: 1.37rem;
      --text-04: 1.71rem;
      --text-05: 2.14rem;
      --text-06: 2.67rem;
    }
  }
}
