$breakpoint: 80rem;

:root {
  --base-size: 100%;

  --gap: 1.125em;

  --rounded-sm: 0.375rem;
  --rounded-md: 0.75rem;
  --rounded-lg: 1.125rem;

  --fluid: cubic-bezier(0.36, 0.66, 0.6, 1);
  --sharp: cubic-bezier(0.6, 0.12, 0.34, 0.96);
  --elastic: cubic-bezier(0.42, 0, 0.58, 1.8);
  --impact: cubic-bezier(0.24, 0.9, 0.32, 1.4);
}

@import "./typography.scss";
@import "./spacing.scss";
@import "./colors.scss";
