$section-padding: 3rem 0 1.5rem 0 !default;
$section-padding-medium: 9rem 0 1.5rem 0 !default;
$section-padding-large: 18rem 0 1.5rem 0 !default;

section {
    &.has-psmall {
        padding: $section-padding;
    }

    &.has-pmedium {
        padding: $section-padding-medium;
    }

    &.has-plarge {
        padding: $section-padding-large;
    }
}
