.typography .info {
  width: 100%;
  padding: 0.5em;
  border: 0.0625rem dashed var(--neutral-05);
  border-radius: var(--rounded-sm);
  background-color: var(--neutral-02);
  transition: border-color 240ms var(--fluid);
}

.typography .info code {
  display: block;
  margin-bottom: 0.5em;
}

.typography .info.text-01 span {
  display: block;
  width: 100%;
  overflow: hidden;
  color: var(--neutral-08);
  font-size: var(--text-01);
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.typography .info.text-02 span {
  display: block;
  width: 100%;
  overflow: hidden;
  color: var(--neutral-08);
  font-size: var(--text-02);
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.typography .info.text-03 span {
  display: block;
  width: 100%;
  overflow: hidden;
  color: var(--neutral-08);
  font-size: var(--text-03);
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.typography .info.text-04 span {
  display: block;
  width: 100%;
  overflow: hidden;
  color: var(--neutral-08);
  font-size: var(--text-04);
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.typography .info.text-05 span {
  display: block;
  width: 100%;
  overflow: hidden;
  color: var(--neutral-08);
  font-size: var(--text-05);
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.typography .info.text-06 span {
  display: block;
  width: 100%;
  overflow: hidden;
  color: var(--neutral-08);
  font-size: var(--text-06);
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.typography .info:hover {
  border-color: var(--neutral-06);
}
