.copy-button {
  padding: 0.5em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 0.1875rem;
  font-weight: 500;
  background-color: transparent;
  transition:
    border-color 0.24s var(--fluid),
    background-color 0.24s var(--fluid);

  .icon {
    margin: 0;
    position: relative;
    font-size: 1em;
    color: inherit;

    &-copy {
      transition: opacity 0.24s var(--elastic);
    }

    &-check {
      opacity: 0;
      position: absolute;
      transform: translate(-50%, -50%) scale(0);
      top: 50%;
      left: 50%;
      transition:
        opacity 0.24s var(--fluid),
        transform 0.24s var(--elastic);
    }
  }

  &:hover {
    border-color: var(--neutral-05);
  }

  &[data-state="copied"] {
    .icon {
      &-copy {
        opacity: 0;
      }

      &-check {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotate(-6deg);
      }
    }
  }
}