.code-block {
  position: relative;
  width: 100%;

  pre {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 2em;
    overflow: auto hidden;
    border: 0.0625rem solid var(--neutral-04);
    background-color: var(--neutral-02);
    transition: border-color 240ms var(--fluid);

    code {
      .token {
        &.comment {
          color: var(--neutral-07);
          font-style: italic;
          font-size: 0.625rem;
          text-transform: uppercase;
        }

        &.property {
          color: var(--neutral-11);
        }

        &.tag {
          .punctuation,
          .tag,
          .attr-name {
            color: var(--neutral-11);
          }
        }

        &.function {
          color: var(--neutral-10);
        }
      }
    }
  }

  &:focus-within,
  &:hover {
    pre {
      border-color: var(--neutral-05);
    }
  }
}
