.bezier-visualizer {
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0.0625rem solid var(--neutral-04);
  border-radius: var(--rounded-sm);
  corner-shape: squircle;
  background-color: var(--neutral-02);
  transition: border-color 240ms var(--fluid);
}

.bezier-visualizer svg {
  aspect-ratio: 1/1;
  max-width: 100%;
  height: 100%;
  transform: translate(-0.5rem, 0.5rem);
}

.bezier-visualizer svg .main-axes line {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 1;
}

.bezier-visualizer svg .bezier-curve {
  fill: none;
  stroke: var(--neutral-06);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.25;
}

.bezier-visualizer svg .control-handles {
  stroke: var(--neutral-05);
  stroke-linecap: round;
  stroke-width: 1;
}

.bezier-visualizer svg .control-handles line {
  stroke-dasharray: 2, 2;
}

.bezier-visualizer svg .control-points circle {
  fill: var(--neutral-05);
}

.bezier-visualizer svg .animated-dot {
  fill: var(--neutral-07);
}

.bezier-visualizer::before {
  position: absolute;
  inset: 0;
  background: radial-gradient(
      var(--neutral-12) 0.0625rem,
      var(--neutral-02) 0.0625rem
    )
    0 0 / 0.75rem 0.75rem;
  content: "";
  opacity: 0.08;
  pointer-events: none;
}

.bezier-visualizer:hover {
  border-color: var(--neutral-05);
}
