section {
  --gap: var(--space-01);

  position: relative;
  overflow: visible;

  .title {
    margin: 1em 0 0 0;
  }
}

pre,
code {
  border-radius: var(--rounded-sm);
  font-family: var(--font-commit-mono);
  font-size: inherit;
}

:not(pre) {
  & > code {
    padding: 0.0625rem 0.375rem;
    overflow-wrap: break-word;
    border: 0.0625rem solid var(--neutral-04);
    color: var(--neutral-10);
    background-color: var(--neutral-01);
    transition: border-color 240ms var(--fluid);

    &:hover {
      border-color: var(--neutral-05);
    }
  }
}

.example {
  width: 100%;
  display: flex;
  gap: 0.5em;

  .view {
    &.code {
      width: fit-content;
      max-width: 50%;

      .code-block {
        pre {
          max-height: 30dvh;
          overflow: auto;
        }
      }
    }

    &.preview {
      margin: 0.5em 0;
      padding: var(--space-01);
      border: 0.0625rem solid var(--neutral-04);
      border-radius: var(--rounded-sm);
      transition: border-color 240ms var(--fluid);

      &.center {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        border-color: var(--neutral-05);
      }
    }
  }

  @media (max-width: 42rem) {
    flex-direction: column;

    .view {
      &.code {
        max-width: 100%;
      }
    }
  }
}

.indicators {
  width: 100%;
  margin: 0 0 calc(-1 * var(--space-01)) 0;
  display: flex;

  .indicator {
    padding: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid var(--neutral-04);

    &.backgrounds {
      border-top-left-radius: var(--rounded-sm);
    }

    &.interactive {
      border-left: none;
    }

    &.separators {
      border-left: none;
      border-right: none;
    }

    &.text {
      border-top-right-radius: var(--rounded-sm);
    }

    &:hover {
      background-color: var(--neutral-02);
    }
  }

  @media (max-width: 42rem) {
    font-size: 0.625rem;
  }
}

.colors {
  width: 100%;
  margin: 0 0 1rem 0;
  position: relative;
  overflow: hidden;
  display: flex;

  .col {
    aspect-ratio: 1 / 1;

    &.neutral {
      &-01 {
        background-color: var(--neutral-01);
      }

      &-02 {
        background-color: var(--neutral-02);
      }

      &-03 {
        background-color: var(--neutral-03);
      }

      &-04 {
        background-color: var(--neutral-04);
      }

      &-05 {
        background-color: var(--neutral-05);
      }

      &-06 {
        background-color: var(--neutral-06);
      }

      &-07 {
        background-color: var(--neutral-07);
      }

      &-08 {
        background-color: var(--neutral-08);
      }

      &-09 {
        background-color: var(--neutral-09);
      }

      &-10 {
        background-color: var(--neutral-10);
      }

      &-11 {
        background-color: var(--neutral-11);
      }

      &-12 {
        background-color: var(--neutral-12);
      }
    }

    &.red {
      border-radius: var(--rounded-sm) 0 0 var(--rounded-sm);
      background-color: var(--red);
    }

    &.orange {
      background-color: var(--orange);
    }

    &.amber {
      background-color: var(--amber);
    }

    &.yellow {
      background-color: var(--yellow);
    }

    &.lime {
      background-color: var(--lime);
    }

    &.green {
      background-color: var(--green);
    }

    &.teal {
      background-color: var(--teal);
    }

    &.cyan {
      background-color: var(--cyan);
    }

    &.blue {
      background-color: var(--blue);
    }

    &.indigo {
      background-color: var(--indigo);
    }

    &.purple {
      background-color: var(--purple);
    }

    &.pink {
      border-radius: 0 var(--rounded-sm) var(--rounded-sm) 0;
      background-color: var(--pink);
    }
  }

  &.neutrals {
    margin-bottom: 0;
    border-left: 0.0625rem solid var(--neutral-04);
    border-right: 0.0625rem solid var(--neutral-04);
    border-bottom: 0.0625rem solid var(--neutral-04);
    border-bottom-left-radius: var(--rounded-sm);
    border-bottom-right-radius: var(--rounded-sm);
  }
}
