section {
  --gap: var(--space-01);
  position: relative;
  overflow: visible;
}

section .title {
  margin: 1em 0 0 0;
}

pre,
code {
  border-radius: var(--rounded-sm);
  corner-shape: squircle;
  font-size: inherit;
  font-family: var(--font-commit-mono);
}

:not(pre) > code {
  padding: 0.0625rem 0.375rem;
  border: 0.0625rem solid var(--neutral-04);
  background-color: var(--neutral-01);
  color: var(--neutral-10);
  overflow-wrap: break-word;
  transition: border-color 240ms var(--fluid);
}

:not(pre) > code:hover {
  border-color: var(--neutral-05);
}

.indicators {
  display: flex;
  width: 100%;
  margin: 0 0 calc(-1 * var(--space-01)) 0;
}

.indicators .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
  border: 0.0625rem solid var(--neutral-04);
}

.indicators .indicator.backgrounds {
  border-top-left-radius: var(--rounded-sm);
}

.indicators .indicator.interactive {
  border-left: none;
}

.indicators .indicator.separators {
  border-right: none;
  border-left: none;
}

.indicators .indicator.text {
  border-top-right-radius: var(--rounded-sm);
}

.indicators .indicator:hover {
  background-color: var(--neutral-02);
}

@media (max-width: 42rem) {
  .indicators {
    font-size: 0.625rem;
  }
}

.colors {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 0 1rem 0;
  overflow: hidden;
  corner-shape: squircle;
}

.colors .col {
  aspect-ratio: 1 / 1;
}

.colors .col.neutral-01 {
  background-color: var(--neutral-01);
}

.colors .col.neutral-02 {
  background-color: var(--neutral-02);
}

.colors .col.neutral-03 {
  background-color: var(--neutral-03);
}

.colors .col.neutral-04 {
  background-color: var(--neutral-04);
}

.colors .col.neutral-05 {
  background-color: var(--neutral-05);
}

.colors .col.neutral-06 {
  background-color: var(--neutral-06);
}

.colors .col.neutral-07 {
  background-color: var(--neutral-07);
}

.colors .col.neutral-08 {
  background-color: var(--neutral-08);
}

.colors .col.neutral-09 {
  background-color: var(--neutral-09);
}

.colors .col.neutral-10 {
  background-color: var(--neutral-10);
}

.colors .col.neutral-11 {
  background-color: var(--neutral-11);
}

.colors .col.neutral-12 {
  background-color: var(--neutral-12);
}

.colors .col.red {
  border-radius: var(--rounded-sm) 0 0 var(--rounded-sm);
  background-color: var(--red);
}

.colors .col.orange {
  background-color: var(--orange);
}

.colors .col.amber {
  background-color: var(--amber);
}

.colors .col.yellow {
  background-color: var(--yellow);
}

.colors .col.lime {
  background-color: var(--lime);
}

.colors .col.green {
  background-color: var(--green);
}

.colors .col.teal {
  background-color: var(--teal);
}

.colors .col.cyan {
  background-color: var(--cyan);
}

.colors .col.blue {
  background-color: var(--blue);
}

.colors .col.indigo {
  background-color: var(--indigo);
}

.colors .col.purple {
  background-color: var(--purple);
}

.colors .col.pink {
  border-radius: 0 var(--rounded-sm) var(--rounded-sm) 0;
  background-color: var(--pink);
}

.colors.neutrals {
  margin-bottom: 0;
  border-right: 0.0625rem solid var(--neutral-04);
  border-bottom: 0.0625rem solid var(--neutral-04);
  border-left: 0.0625rem solid var(--neutral-04);
  border-bottom-right-radius: var(--rounded-sm);
  border-bottom-left-radius: var(--rounded-sm);
}
