.components {
  align-items: flex-start;
  justify-content: flex-start;

  .card {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    width: fit-content;
    max-width: calc(33% - var(--gap));
    padding: 0;
    text-decoration: none;

    .component,
    .info {
      padding: var(--space-01);
    }

    .component {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      align-items: center;
      justify-content: center;
    }

    .info {
      border-top: 0.0625rem solid var(--neutral-04);
    }

    &:hover {
      .info {
        border-color: var(--neutral-05);
      }
    }

    @media (max-width: 42rem) {
      max-width: 16rem;
    }
  }
}
