.containers .container-80 {
  padding: 1em;
  border: 0.0625rem dashed var(--neutral-05);
  border-radius: var(--rounded-sm);
  background-color: var(--neutral-02);
  transition: border-color 240ms var(--fluid);
}

.containers .container-80 .info {
  gap: 0.5em;
}

.containers .container-80 span {
  text-transform: uppercase;
}

.containers:hover .container-80 {
  border-color: var(--neutral-06);
}
