.tabs {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 1em;
}

.tabs .list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  gap: 0.5em;
}

.tabs .list .tab {
  appearance: none;
  position: relative;
  padding: 0.5em 1.5em;
  border: none;
  background-color: transparent;
  color: var(--neutral-08);
  font-weight: 600;
  font-size: 0.625rem;
  font-family: var(--font-commit-mono);
  text-transform: uppercase;
  cursor: pointer;
}

.tabs .list .tab .indicator {
  z-index: 1;
  position: absolute;
  inset: 0;
  border: 0.0625rem solid var(--neutral-04);
  border-radius: var(--rounded-sm);
  background-color: var(--neutral-02);
}

.tabs .list .tab .label {
  z-index: 2;
  position: relative;
}

.tabs .panels {
  display: flex;
  width: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.tabs .panels .panel {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
}
