.lx-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 0.8rem;

    &-item {
        display: flex;
        flex-wrap: nowrap;

        &:not(:first-of-type) {
            &:before {
                content: ">";
                margin: 0 0.64rem 0 0.512rem;
                vertical-align: top;
                display: inline-block;
                font-style: normal;
                font-weight: normal;
            }
        }
    }
}
