.lx-card
    padding: 2rem
    border-radius: .328rem
    border: none
    box-shadow: 0 .5rem 1rem rgba(black,.15)

    &.is-shadowless
        box-shadow: none

    &.is-muted
        user-select: none
        filter: grayscale(0.4) opacity(0.6)
