.lx-card {
    padding: 2em;
    border-radius: 0.328em;
    border: none;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.12),
        0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.2);

    &.is-muted {
        user-select: none;
        filter: grayscale(0.4) opacity(0.6);
    }
}
