.lx-collection {
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    padding: 1rem;
    overflow: hidden;
    list-style-type: none;
    border-radius: 0.328em;
    border: 0.0625rem solid $gray-light;

    &-header {
        width: 100%;
        padding: 0.625em 1.25em;
        border-bottom: 0.0625rem solid $gray-light;
        background-color: inherit;
    }

    &-item {
        width: 100%;
        margin: 0;
        padding: 0.625em 1.25em;
        background-color: inherit;
        border-bottom: 0.0625rem solid $gray-light;

        &:last-child {
            border-bottom: none;
        }
    }
}
