.lx-pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &-item {
        padding: 0 0.5em;
        border-radius: 0.188em;
        border: 0.063em solid $black;
        line-height: normal;
        font-size: 0.813em;
        color: $black;
        background-color: transparent;

        &.is-selected {
            border-color: transparent;
            color: $white;
            background-color: $gray;
        }
    }
}
