.help,
small {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.75rem;

    &.is-success {
        color: $success;
    }

    &.is-error {
        color: $error;
    }

    &.is-warning {
        color: $warning;
    }
}
