:root {
    --primary-color: #febd69;
    --primary-color-light: #ffef99;
    --primary-color-dark: #c88d3b;

    --secondary-color: #d2d6dc;
    --secondary-color-light: #ffffff;
    --secondary-color-dark: #a1a5aa;

    --black: #212121;
    --gray: #424242;
    --gray-light: #e0e0e0;
    --white: white;
}

$primary-color: var(--primary-color);
$primary-color-light: var(--primary-color-light);
$primary-color-dark: var(--primary-color-dark);

$black: var(--black);
$gray: var(--gray);
$white: var(--white);
$white-dark: var(--white-dark);
