\:root
    --base-size: 87.5%

    --lx-radius-small: .285rem
    --lx-radius-medium: .570rem
    --lx-radius-large: 1.15rem

    --row-gap: 1rem

$base-size: var(--base-size)

$breakpoint: 60rem

$radius-small: var(--lx-radius-small)
$radius-medium: var(--lx-radius-medium)
$radius-large: var(--lx-radius-large)

$row-gap: var(--row-gap)
