.lx-light
    --bg-alt: #f7f7f7
    --bg-comp: #efefef
    --bg-main: #fff
    --border: #dbdbdb
    --focus: #41adff
    --link: #0076d1
    --selection: #c8c8c8
    --text: #363636
    --thumb-hover: #c4c4c4
    --thumb: #d5d5d5
    --track: #e5e7eb

.lx-dark
    --bg-alt: #1a242f
    --bg-comp: #161f27
    --bg-main: #202b38
    --border: #526980
    --focus: #0076d1
    --link: #41adff
    --selection: #1c76c5
    --text: #dbdbdb
    --thumb-hover: #5b698b
    --thumb: #47526c
    --track: #1f2330

$bg-alt: var(--bg-alt)
$bg-comp: var(--bg-comp)
$bg-main: var(--bg-main)
$border: var(--border)
$focus: var(--focus)
$link: var(--link)
$selection: var(--selection)
$text: var(--text)
$thumb-hover: var(--thumb-hover)
$thumb: var(--thumb)
$track: var(--track)
