.rows .container-75 {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  border: 0.0625rem dashed var(--neutral-05);
  border-radius: var(--rounded-sm);
  transition: border-color 240ms var(--fluid);
}

.rows .container-75 .wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  border: 0.0625rem dashed var(--neutral-05);
  border-radius: var(--rounded-sm);
  background-color: var(--neutral-02);
  transition: border-color 240ms var(--fluid);
}

.rows .container-75 .col {
  padding: 1em;
  border: 0.0625rem dashed var(--neutral-06);
  border-radius: var(--rounded-sm);
  background-color: var(--neutral-03);
  transition: border-color 240ms var(--fluid);
}

.rows .container-75 span {
  text-transform: uppercase;
}

.rows:hover .wrapper {
  border-color: var(--neutral-06);
}

.rows:hover .col {
  border-color: var(--neutral-08);
}
