.lx-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;

    thead,
    tbody {
        tr {
            border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.12);

            td,
            th {
                padding: 0.64rem 0.328rem;
                display: table-cell;
                vertical-align: middle;
                border-radius: 0.168rem;
                text-align: left;
            }
        }
    }

    &.is-striped {
        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}
