.blockquote {
  width: 100%;
  margin: var(--space-01) 0 0 0;
  padding: var(--space-01) var(--space-02);
  position: relative;
  border: 0.0625rem solid var(--neutral-04);
  border-radius: var(--rounded-sm);
  background-color: var(--neutral-02);
  transition: border-color 240ms var(--fluid);

  .icon {
    width: 1.625rem;
    height: 1.625rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid var(--neutral-04);
    border-radius: 100%;
    font-size: 1em;
    background-color: var(--neutral-02);
    transition: border-color 240ms var(--fluid);
  }

  blockquote {
    width: 100%;
    margin: 0;
  }

  &:hover {
    border-color: var(--neutral-05);

    .icon {
      border-color: var(--neutral-05);
    }
  }
}
