.ad {
  width: 100%;
  position: relative;
  overflow: hidden;

  #carbonads {
    #carbon-responsive {
      a {
        line-height: 1.8 !important;
        font-family: var(--font-inter) !important;
        font-size: 0.75rem !important;
        color: inherit !important;
      }

      .carbon-responsive-wrap {
        padding: 0.5rem !important;
        border: 0.0625rem solid var(--neutral-03) !important;
        border-radius: var(--rounded-sm) !important;
        text-wrap: balance !important;
        background-color: var(--neutral-01) !important;
        transition: border-color 240ms var(--fluid) !important;

        .carbon-img {
          width: 100% !important;
          flex: none !important;

          img {
            width: 100% !important;
            max-width: 100% !important;
            height: auto !important;
            border-radius: 0.25rem !important;
          }
        }

        &:hover {
          border-color: var(--neutral-04) !important;
        }

        @media screen and (max-width: 64rem) {
          max-width: calc(10rem + 0.5rem) !important;
          margin: 0 0 0 auto !important;
        }
      }
    }
  }
}
