.ad {
  width: calc(10rem + 0.5rem) !important;
  position: absolute;
  top: 0;
  left: calc(100% + var(--space-04));

  #carbonads {
    #carbon-responsive {
      a {
        line-height: 1.8 !important;
        font-family: var(--font-inter) !important;
        font-size: 0.75rem !important;
        color: inherit !important;
      }

      .carbon-responsive-wrap {
        width: 100% !important;
        margin: 0 0 0 auto !important;
        padding: 0.5rem !important;
        gap: 0.5rem !important;
        border: 0.0625rem solid var(--neutral-03) !important;
        border-radius: var(--rounded-sm) !important;
        text-wrap: balance !important;
        background-color: var(--neutral-01) !important;
        transition: border-color 240ms var(--fluid) !important;

        .carbon-img {
          width: 100% !important;
          flex: none !important;

          img {
            width: 100% !important;
            max-width: 100% !important;
            height: auto !important;
            border-radius: 0.25rem !important;
          }
        }

        .carbon-text {
          width: 100% !important;
          padding: 0 0.25rem !important;
        }

        &:hover {
          border-color: var(--neutral-04) !important;
        }
      }

      .carbon-poweredby {
        display: none !important;
      }
    }
  }

  @media (max-width: 64rem) {
    position: relative;
    top: unset;
    left: unset;
  }
}
