header {
  width: 100%;
}

header ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: var(--space-03);
  list-style: none;
}

header ul a {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  outline-offset: 0.375rem;
  color: var(--neutral-09);
  font-weight: 500;
  text-decoration: none;
  transition: color 140ms var(--fluid);
}

header ul a::before {
  display: block;
  position: relative;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  background-color: var(--neutral-11);
  content: "";
  opacity: 0;
  transition:
    transform,
    opacity 240ms var(--fluid);
}

header ul a:hover {
  color: var(--neutral-11);
}

header ul a:focus-visible,
header ul a.is-active {
  color: var(--neutral-11);
}

header ul a:focus-visible::before,
header ul a.is-active::before {
  opacity: 1;
}

@media (max-width: 42rem) {
  header ul {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-01);
  }
}
