header {
  width: 100%;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: var(--space-03);

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      outline-offset: 0.375rem;
      font-weight: 500;
      color: var(--neutral-08);
      transition: color 140ms var(--fluid);

      &::before {
        content: "";
        opacity: 0;
        width: 0.25rem;
        height: 0.25rem;
        position: relative;
        display: block;
        border-radius: 100%;
        background-color: var(--neutral-10);
        transition:
          transform,
          opacity 240ms var(--fluid);
      }

      &:hover {
        color: var(--neutral-10);
      }

      &:focus-visible,
      &.is-active {
        color: var(--neutral-10);

        &::before {
          opacity: 1;
        }
      }
    }

    @media (max-width: 42rem) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-01);
    }
  }
}
