.lx-btn
    padding: calc(.5rem - .063rem) 1rem
    vertical-align: middle
    text-align: center
    border-radius: .262rem
    border: none
    text-transform: uppercase
    box-shadow: 0 .125rem .125rem 0 rgba(0, 0, 0, 0.14), 0 .1875rem .0625rem -.125rem rgba(0, 0, 0, 0.12), 0 .0625rem .3125rem 0 rgba(0, 0, 0, 0.2)

    &.is
        &-small
            padding: .688rem 2.5rem
            font-size: .75rem

        &-medium
            padding: .813rem 2.813rem
            font-size: 1rem

        &-large
            padding: .938rem 3.125rem
            font-size: 1.25rem
