.lx-table {
	--border-color: #{$secondary-background-color};

	width: fit-content;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0.15rem;
	position: relative;
	overflow: auto hidden;
	display: block;
	border-radius: $radius-small;
	border: 0.0625rem solid var(--border-color);

	table {
		min-width: max-content;
		margin: 0;
		padding: 0;
		border-spacing: 0.3em;

		thead,
		tbody {
			td,
			th {
				padding: 1.3em;
				vertical-align: middle;
				text-align: left;
				border-radius: $radius-small;
			}
		}
	}

	&.is-striped {
		table {
			tbody {
				tr {
					&:nth-child(odd) {
						--background-color: #{$secondary-background-color};

						background-color: var(--background-color);
					}
				}
			}
		}
	}
}
