.table-of-contents {
  width: 100%;
  margin: 0.25em 0 1em 0;
  padding: var(--space-01) var(--space-03) var(--space-02) var(--space-02);
}

.table-of-contents .title {
  margin: 0 0 0.5em 0;
}

.table-of-contents ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.table-of-contents ul li {
  margin: 0 0 0 1.25em;
}
