.bs-none {
    box-shadow: none;
}

.bs-sm {
    box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.05), 0 0.063rem 0.25rem rgba(0, 0, 0, 0.05),
        0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
}

.bs-md {
    box-shadow: 0 0.063rem 0.188rem rgba(0, 0, 0, 0.06), 0 0.125rem 6px rgba(0, 0, 0, 0.06),
        0 0.188rem 0.5rem rgba(0, 0, 0, 0.09);
}

.bs-lg {
    box-shadow: 0 0.063rem 0.25rem rgba(0, 0, 0, 0.09), 0 0.188rem 0.5rem rgba(0, 0, 0, 0.09),
        0 0.25rem 10.188rem rgba(0, 0, 0, 0.13);
}
