.has-dflex {
    display: flex;
}

.has-dflex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center !important;
}

.align-end {
    align-items: flex-end !important;
}

.align-start {
    align-items: flex-start !important;
}

.align-stretch {
    align-items: stretch !important;
}

.justify-around {
    justify-content: space-around !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-evenly {
    justify-content: space-evenly !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-start {
    justify-content: flex-start !important;
}
