.has-dflex {
    display: flex;

    &-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.align {
    &-center {
        align-items: center !important;
    }

    &-end {
        align-items: flex-end !important;
    }

    &-start {
        align-items: flex-start !important;
    }

    &-stretch {
        align-items: stretch !important;
    }
}

.justify {
    &-around {
        justify-content: space-around !important;
    }

    &-between {
        justify-content: space-between !important;
    }

    &-evenly {
        justify-content: space-evenly !important;
    }

    &-center {
        justify-content: center !important;
    }

    &-end {
        justify-content: flex-end !important;
    }

    &-start {
        justify-content: flex-start !important;
    }
}
