.hide,
.hide-on-desk {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 56.25rem) {
    .hide-on-desk {
        display: block;
        visibility: visible;
    }

    .hide-on-mb {
        display: none;
        visibility: hidden;
    }
}
