.is-text {
    &-left {
        text-align: left;
    }

    &-centered {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-justified {
        text-align: justify;
    }
}
