.is-size-7 {
    font-size: 3rem;
}

.is-size-6 {
    font-size: 2.5rem;
}

.is-size-5 {
    font-size: 2rem;
}

.is-size-4 {
    font-size: 1.5rem;
}

.is-size-3 {
    font-size: 1.25rem;
}

.is-size-2 {
    font-size: 1rem;
}

.is-size-1 {
    font-size: 0.75rem;
}

.is-text {
    &-left {
        text-align: left;
    }

    &-centered {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-justified {
        text-align: justify;
    }
}
