.text
    &-center
        text-align: center

    &-end
        text-align: right

    &-justified
        text-align: justify

.featured
    font-size: 1.2rem

.lx-title,
.lx-subtitle
    margin: 0

.lx-title
    font-size: 2.25rem

    @media (max-width: $breakpoint)
        font-size: 2rem

.lx-subtitle
    --color: #{$secondary-text-color}

    font-size: 1.5rem
    color: var(--color)

    @media (max-width: $breakpoint)
        font-size: 1.25rem

.lx-text
    width: 100%
    display: flex
    flex-flow: wrap column

    *
        margin: 0

.lx-icon
    width: 1em
    height: 1em
    stroke: currentColor
    stroke-width: 2
    stroke-linecap: round
    stroke-linejoin: round
    fill: none
