.columns {
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.columns .row {
  gap: 1em;
}

.columns .col {
  padding: 1em;
  border: 0.0625rem dashed var(--neutral-05);
  border-radius: var(--rounded-sm);
  background-color: var(--neutral-02);
  transition: border-color 240ms var(--fluid);
}

.columns span {
  text-transform: uppercase;
}

.columns:hover {
  border-color: var(--neutral-05);
}

.columns:hover .col {
  border-color: var(--neutral-06);
}
