.columns {
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;

  .row {
    gap: 1em;
  }

  .col {
    padding: 1em;
    border: 0.0625rem dashed var(--neutral-05);
    border-radius: var(--rounded-sm);
    background-color: var(--neutral-02);
    transition: border-color 240ms var(--fluid);
  }

  span {
    text-transform: uppercase;
  }

  &:hover {
    border-color: var(--neutral-05);

    .col {
      border-color: var(--neutral-06);
    }
  }
}
