@use "../../../sass/luxa.scss";

* {
  position: relative;
  outline-width: thin;
  outline-offset: 0.125rem;
  outline-color: var(--neutral-03);
  font: inherit;
}

:root {
  --animation-blend-mode: lighten;
  --animation-duration: 12s;
  --background-color: #ffff;
  --gradient-end: #03f241;
  --gradient-middle: #03e5f2;
  --gradient-start: #d549dd;
}

::selection {
  color: var(--neutral-09);
  background-color: var(--neutral-03);
  background-blend-mode: multiply;
}

body {
  min-height: 100dvh;
  padding: var(--space-04) var(--space-03) var(--space-06) var(--space-03);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-inter);
  font-size: 0.75rem;
  color: var(--neutral-08);
  background-color: var(--background-color);
}

main {
  --gap: var(--space-03);
  width: 100%;
  margin-top: var(--space-06);
}

article {
  a {
    text-decoration: underline;
    text-underline-offset: 0.125rem;
    font-weight: 500;

    &:has(> code) {
      text-underline-offset: 0.25rem;
    }
  }

  ol,
  ul {
    margin: 0;
  }
}

b,
strong {
  font-weight: 500;
}

hr {
  height: 0.0625rem;
  background-color: var(--neutral-03);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-size: inherit;
  font-weight: 600;
  color: inherit;

  &.primary {
    font-weight: 900;
    color: var(--neutral-09);
  }
}

ol,
ul {
  padding-left: 1.5em;
}

.container {
  width: 100%;
  max-width: 42rem;
  margin-top: var(--space-03);

  @media (max-width: 42rem) {
    max-width: 100%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-01);
}

.icon {
  font-size: 2em;
  color: inherit;
}

.actions-group {
  margin: 1em 0 0 0;
  gap: 1em;
}

.action {
  appearance: none;
  width: fit-content;
  margin: 0;
  padding: 0.75em 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  user-select: none;
  cursor: pointer;
  border: 0.0625rem solid var(--neutral-03);
  border-radius: var(--rounded-sm);
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-general-sans);
  font-size: inherit;
  font-weight: 600;
  color: var(--neutral-08);
  background-color: var(--neutral-01);
  box-shadow: var(--custom-box-shadow);
  transition: background-color 240ms var(--fluid);

  &:hover {
    background-color: var(--neutral-02);
  }

  &.primary {
    border: 0.0625rem solid var(--neutral-08);
    color: var(--neutral-01);
    background-color: var(--neutral-08);

    &:hover {
      background-color: var(--neutral-09);
    }
  }
}

.card {
  padding: var(--space-01);
  border: 0.0625rem solid var(--neutral-03);
  border-radius: var(--rounded-sm);
  transition: border-color 240ms var(--fluid);

  &:hover {
    border-color: var(--neutral-04);
  }
}
