.copy-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.5em;
  border-radius: 0.1875rem;
  background-color: transparent;
  font-weight: 500;
  transition:
    border-color 0.24s var(--fluid),
    background-color 0.24s var(--fluid);
}

.copy-button .icon {
  position: relative;
  margin: 0;
  color: inherit;
  font-size: 1em;
}

.copy-button .icon-copy {
  transition: opacity 0.24s var(--elastic);
}

.copy-button .icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition:
    opacity 0.24s var(--fluid),
    transform 0.24s var(--elastic);
}

.copy-button:hover {
  border-color: var(--neutral-05);
}

.copy-button[data-state="copied"] .icon-copy {
  opacity: 0;
}

.copy-button[data-state="copied"] .icon-check {
  transform: translate(-50%, -50%) scale(1) rotate(-6deg);
  opacity: 1;
}
